/* сброс стилей браузера */

* {  
	box-sizing: border-box;
} 

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* конец кода сброса стилей браузера */


body {
	background-color: #CCFF9B;
}


.main_header {
	text-align: center;
	padding: 20px;

}

.headline {
	margin: 0 auto;
	font-size: 3em;
	font-weight: bold;
	display: inline-block;
	font-family: Arial, Sans-serif;
	color: #129100;
}

main {
	width:70%;
	margin: 0 auto;
	padding: 20px;
	background-color: #FFD590;
	border-radius: 30px;
	min-width: 720px;

}


.buttons_list li {
	width: 250px;
	margin: 0 auto;
	list-style: none;
	display: block;
}

.buttons {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.yellow_button {
	color: #C70039;
	width: 250px;
	height: 36px;
	background-color: #FFC300;
	border-radius: 10px;
}

.orange_button {
	color: #FFC300;
	width: 250px;
	height: 46px;
	background-color: #FF5733;
	border-radius: 20px;
}

.red_button {
	color: #FF5733;
	width: 250px;
	height: 56px;
	background-color: #C70039;
	border-radius: 30px;
}

#main_img {
	margin: 0 auto;
	display: block;
	border: 10px solid #FAFF6A;
	border-radius: 15px;
	
}


